* {
    box-sizing: border-box;
}

body,
html {
    letter-spacing: -0.01em;
    color: $color-gray;
    font-family: 'PT Sans', Tahoma, Arial, sans-serif;
    font-size: $base-font-size;
    line-height: 1.3;
}

a {
    text-decoration: none;
    font-family: 'PT Sans', Tahoma, Arial, sans-serif;

    &:hover {
        text-decoration: underline;
    }
}

.container {
    position: relative;
    max-width: col-width(12);
    margin: 30px auto 65px;
}

.row {
    @include row();
}

.main {
    @include column(8);
    @include respond-to(mobile) {
        @include column-width-break(12);
    }
}

.sidebar {
    @include column(4);
    @include respond-to(mobile) {
        @include column-width-break(12);
    }
}
