/// Grid options
$grid-columns-num: 12;
$grid-gutter: 20px;
$grid-column: 60px;

// Fonts
$base-font-size: 14px;

// Colors
$color-purple: #6a0099;
$color-blue: #3d76cc;
$color-red: #c80000;
$color-gray: #333;
$color-light-gray: #f8f9fB;

// Scrin size
$break-mobile: 480px;
$break-tablet: 768px;
